@media (max-width: 1199px)
    .container
        width: 970px
    .slider
        &__item
            img
                max-width: 95%  
    .count
        &-item
            &:before
                left: -60px          
    .request
        padding-top: 70px
    .request-wrap
        &-text
            &_subtitle
                margin-top: 30px
            &_list
                margin-top: 70px
        &-form
            padding-left: 100px
            &_title
                font-size: 18px
                line-height: 25px
@media (max-width: 992px)
    .container
        width: 767px
    .main
        &-text
            &__title
                font-size: 30px
                line-height: 36px
    .feedback
        background: #fff
    .slider
        margin-top: 70px
    .section
        &-title
            font-size: 18px
            line-height: 35px
    .count
        &-wrap
            flex-wrap: wrap
        &-item
            margin-bottom: 30px
            &:before
                display: none
    .block-text
        font-size: 25px
        line-height: 40px
        min-width: 707px
    .request
        padding-top: 50px
    .request-wrap
        &-text
            padding-right: 100px
            &_title
                font-size: 18px
                line-height: 25px
            &_subtitle
                margin-top: 30px
            &_list
                margin-top: 50px
        &-form
            padding-left: 80px
            &_title
                font-size: 15px
                line-height: 20px
            &_subtitle
                margin-top: 35px
                font-size: 14px
                line-height: 25px
            &_input
                margin-top: 35px
            &_subscription
                margin-top: 10px
                font-size: 13px
    .request-form
        font-size: 13px
        padding: 15px
    ol.list
        font-size: 15px
    li.request__item
        margin-bottom: 25px

@media (max-width: 795px)
    .container
        width: 95%
    .header-text
        &__phone
            font-size: 18px
    .main
        &-wrap
            flex-direction: column
        &-text
            max-width: 400px
            margin: auto
            &__title
                text-align: center
    .form
        margin: auto
        &__title
            max-width: 500px
            margin: auto
            text-align: center
            margin-bottom: 20px
        &__subtitle
            margin: auto
            text-align: center
            margin-bottom: 20px
    .slider
        margin-top: 60px
    .section
        &-title
            font-size: 18px
            line-height: 35px
    .title-block
        padding: 70px 0
    .block-text
        font-size: 20px
        line-height: 30px
        min-width: 507px
    .request-wrap
        &-text
            padding-right: 60px
            &_title
                font-size: 15px
                line-height: 15px
            &_subtitle
                margin-top: 20px
            &_list
                margin-top: 50px
        &-form
            padding-left: 40px
            &_title
                font-size: 15px
                line-height: 15px
            &_subtitle
                margin-top: 20px
                font-size: 14px
                line-height: 25px
            &_input
                margin-top: 30px
            &_subscription
                margin-top: 10px
                font-size: 13px
@media (max-width: 620px)
    .xs
        display: none
    .header-text
        &__contacts
            margin-right: 10px
        &__phone
            font-size: 15px
    .button-xs
        background-color: $primary-color
        background-image: url('../img/phone.svg')
        min-width: 50px
        height: 60px
        padding: 0
        background-repeat: no-repeat
        background-position: center
    .form
        &__title
            font-size: 18px
        &__subtitle
            font-size: 14px
        &__input
            width: 95%
        &__subscription
            display: block
            text-align: left
            &-text
                max-width: 100%
                font-size: 15px
            &-call
                max-width: 100%
                &:before
                    display: none
    .slider
        margin-top: 50px
        &__item
        img
            width: 80%
            height: 80%  
    .section
        &-title
            font-size: 16px
            line-height: 25px
    .title-block
        padding: 50px 0 
    .block-text
        font-size: 20px
        line-height: 20px
        min-width: 307px      
    .request-wrap
        flex-direction: column
        &-text
            width: 100%
            padding-right: 10px
            &_title
                text-align: center
            &_subtitle
                text-align: center
        &-form
            width: 100%
            padding-left: 10px
    .request
        background-size: 100% 100%
        &:before
            content: none
            

        