@media (max-width: 1199px)
    .container
        width: 970px
    .slider
        &__item
            img
                max-width: 95%            

@media (max-width: 992px)
    .container
        width: 767px
    .main
        &-text
            &__title
                font-size: 30px
                line-height: 36px
    .feedback
        background: #fff
    .slider
        margin-top: 70px
    .section
        &-title
            font-size: 18px
            line-height: 35px

@media (max-width: 795px)
    .container
        width: 95%
    .header-text
        &__phone
            font-size: 18px
    .main
        &-wrap
            flex-direction: column
        &-text
            max-width: 400px
            margin: auto
            &__title
                text-align: center
    .form
        margin: auto
        &__title
            max-width: 500px
            margin: auto
            text-align: center
            margin-bottom: 20px
        &__subtitle
            margin: auto
            text-align: center
            margin-bottom: 20px
    .slider
        margin-top: 60px
    .section
        &-title
            font-size: 18px
            line-height: 35px

@media (max-width: 620px)
    .xs
        display: none
    .header-text
        &__contacts
            margin-right: 10px
        &__phone
            font-size: 15px
    .button-xs
        background-color: $primary-color
        background-image: url('../img/phone.svg')
        min-width: 50px
        height: 60px
        padding: 0
        background-repeat: no-repeat
        background-position: center
    .form
        &__title
            font-size: 18px
        &__subtitle
            font-size: 14px
        &__input
            width: 95%
        &__subscription
            display: block
            text-align: left
            &-text
                max-width: 100%
                font-size: 15px
            &-call
                max-width: 100%
                &:before
                    display: none
    .slider
        margin-top: 50px
        &__item
        img
            width: 80%
            height: 80%  
    .section
        &-title
            font-size: 16px
            line-height: 25px       
    
            

        